@font-face {
	font-family: 'CTMKF';
	font-style: normal;
    font-weight: 400;
    src:url(font/ctmkf.ttf);
	unicode-range: U+2460-246E, U+E000-E01C, U+E028, U+E068-E06B, U+F000-F12F;
}

html {
	min-height: 100%;
}

body{
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.8), rgba(153, 255, 204, .8));
}

.nameForm{
    display:grid;
    grid-template: 
    "mn mnt"
    "cn cnt";
    gap:10px;
    margin-bottom: 30px;
}
#mn{grid-area:mn}
#mnt{grid-area:mnt}
#cm{grid-area:cn}
#cnt{grid-area:cnt}

.idForm{
    display:grid;
    grid-template: 
    "mi mit"
    "ci cit";
    gap:10px;
    margin-bottom: 30px;
}
#mi{grid-area:mi}
#mit{grid-area:mit}
#ci{grid-area:ci}
#cit{grid-area:cit}

.sliderForm{
    display:grid;
    grid-template: 
    "h hs ht"
    "w ws wt";
    gap:10px;
    margin-bottom: 20px;
}
#h{grid-area:h}
#hs{grid-area:hs}
#ht{grid-area:ht}
#w{grid-area:w}
#ws{grid-area:ws}
#wt{grid-area:wt}
#main{
    display:flex;
    
}
.subForm{
    text-align:center;
    margin-left: 30px;
}
.birthForm{
    display:flex;
}

#miiName,#creatorName,#table{
    font-family: 'CTMKF';
}

#table{
    font-size:25px;
}

#favorite img{
    height:25px;
    width:25px;
}

#colorForm{
    display:flex;
}

#colorForm div{
    height:25px;
    width:25px;
    box-shadow: 0px 0px 4px #000;
}

.selectColor{
    border: 4px solid #0000a0;
}

.notSelectColor{
    border: 4px solid #ffffff;
}

#colorButton0{
    background-color:red;
}

#colorButton1{
    background-color:orange;
}

#colorButton2{
    background-color:yellow;
}

#colorButton3{
    background-color:greenyellow;
}

#colorButton4{
    background-color:darkgreen;
}

#colorButton5{
    background-color:blue;
}

#colorButton6{
    background-color:cyan;
}

#colorButton7{
    background-color:pink;
}

#colorButton8{
    background-color:purple;
}

#colorButton9{
    background-color:olive;
}

#colorButton10{
    background-color:white;
}

#colorButton11{
    background-color:black;
}

.notSelectColor,.SelectColor,button,#height,#weight,#open,#specialMii{
    cursor:pointer;
}

.miiID,.creatorID,#month,#day{
    width:28px;
    height:15px;
}

#heightNum,#weightNum{
    width:43px;
    height:15px;
}